div
  h1.text-center Scrambled Eggs GameBoard
  button(ng-click="startTimer()" ng-disabled="timerRunning") Start Timer
  button(ng-click="stopTimer()" ng-enabled="timerRunning") Stop Timer
  button(ng-click="resetTimer()" ng-enabled="timerRunning") Reset Timer
  h2.text-center Your Score: {{score}}
  
  .row.text-center
    timer(autostart='false', countdown='TURNTIME', interval='1000')
      span.gameLetter {{countdown}}
      .container
        .row
          .col-md-4.col-md-offset-4
            .progress
              .progress-bar.progress-bar-striped.progress-bar-danger.active(style='height: 30px;width: {{progressBar}}%') Remaining time : {{countdown}} second{{secondsS}} ({{progressBar}}%).
    h2.text-center Unscramble this:
    .text-center
      span.gameLetter(ng-repeat='letter in onDeck.scrambled track by $index' ng-class='{lockedIn: isLocked($index)}') {{letter}} 
    
