h1.text-center High Scores
.table-responsive
  table.table.table-hover.table-responsive
    thead
      tr
        th #
        th Name
        th Score
      tr(ng-repeat='personObj in leaderboardArray track by $index')
        th {{$index + 1}}
        th {{personObj.name}}
        th {{personObj.score}}

  
